<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <% include ./partials/navbar.ejs %>

      <main class="container">

          <h1 class="display-3">Welcome</h1>

        <section class="row text-center">

          <section class="col-lg-6" style="margin-top: 50px; text-align: left;">
            <h4 class="card-title">Post</h4>
            <p class="card-text">Create your own posts and read posts by other users.</p>
            <a href="/posts">Get started</a>
          </section>

        </section>

      </main>

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>